.root {
    color1_0: rgba(100, 40, 110, 0.5);
    color1_1: rgba(100, 40, 110, 1.0);
    color_background: rgba(0, 0, 0, 0.5);
    color_old_w4VBox: rgba(70, 50, 90, 0.4);
    -fx-font: 10px Verdana;
    -fx-font-weight: bold;
}

#window1, #window2{
    -fx-background-image: url("img/w2.jpg");
}

#window3{
    -fx-background-image: url("img/w1.jpg");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#window5, #window7, #window8{
    -fx-background-image: url("img/w44.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#window6{
    -fx-background-image: url("img/town.jpg");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

.menuButton{
     -fx-background-color: color1_0;
     -fx-background-radius: 0;
     -fx-background-insets: 0;
     -fx-text-fill: white;
}

.menuButton: hover{
   -fx-background-color: color1_1;
}

.background, .background Pane, #w2LabelRaceDescription, #w2LabelClassDescription{
    -fx-background-color: color_background;
}

.background Label, #w2LabelName, #w2LabelRaceDescription, #w2LabelClassDescription, .itemDescription Label{
    -fx-text-fill: white;
}

#window5 HBox{
        -fx-padding: 5;
}

#w2TextFieldName{
    -fx-background-color: purple;
    -fx-text-fill: white;
}

#w2TextFieldName: focused{
    -fx-opacity: 1.0;
    -fx-background-color: white;
    -fx-text-fill: black;
}

#w4VBox1, #w4VBox2{
    -fx-background-color: color_background;
    -fx-background-insets: 0;
}

.bar{
    -fx-background-color: rgba(75, 0, 130, 1.0);
    -fx-background-radius: 0, 0, 30, 30;
    -fx-background-insets: 0;
}

.progress-bar{
    -fx-background-color: rgba(70, 50, 90, 0.4);
}

.track{
    -fx-opacity: 0.0;
}